html, body, #content{
	height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Franklin Gothic", Arial;
}

#header{
    height: 74px;
    background-color: #3a3a3a;
    z-index: 51;
    border-bottom: 1px solid #eee;
    box-shadow: 0px 2px 2px #aaa;
}

#logo{
    position: absolute;
    top:0px;
    left:22px;
    z-index: 52;
    width: 90px;
    height: 90px;
    /*background: url("img/CMNH_Logo_White_mod.png") no-repeat;*/
    /*background: url("http://macroinvertebrates.org/img/CMNHLogo@2x.png") no-repeat 0px 0px;*/
    background-size: 95px 95px; 
}

#site-title{    
    font-family: "Titillium Web", sans-serif;
    position: absolute;
    left:129px;
    top:8px;
    z-index: 55;
    font-weight: 200;
    color: #fff;
    font-size: 1.5em;
    text-shadow: 1px 1px 2px #000;
    margin: 0px;
    line-height: 1.4em;
}

#site-subtitle{
    font-family: "Titillium Web", sans-serif;
    position: absolute;
    left:129px;
    top:40px;
    z-index: 55;
    font-weight: 400;
    color: #cacaca;
    font-size: .78em;
    text-shadow: 1px 1px 2px #000;
    margin: 0 0 7px 0;
    line-height: 20px;
}

#copyright {
    position: absolute;
    right:75px;
    bottom: 23px;
    color:#3a3a3a;
    background-color: #fafafa;
    width: 150px;
    height:13px;
    opacity: 0.8;
    padding: 2px;
    border-radius: 3px;
    font-size: 13px;
/*    writing-mode:tb-rl;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    white-space:nowrap;
*/
}

#map {
    margin-top: 3px;
    z-index: 0;
    height: 88.5%;
}

#HomeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 53;
}
/*
#basemapButton{
    width:30px;
    height:30px;
    background: #3a3a3a url("basmapButton.png") no-repeat;
    background-size: 28px 28px;
}
*/
.dijitTitlePaneTitle {
    width:30px;
    height:30px;
    background: #3a3a3a url("img/basemapButton.png") no-repeat !important;
    background-size: 25px 25px !important;
    border:none !important;
}
/*
#basemapGalleryPane{
    position:absolute; 
    right:110px; 
    top:23px; 
    z-index:999;
}
*/
#LocateButton {
	position: absolute;
    top: 20px;
    right: 60px;
    z-index: 50;
}

#BasemapToggle {
	position: absolute;
    top: 100px;
    right: 20px;
    z-index: 50;
}

#search {
    position: absolute;
    top: 23px;
    right: 200px;
    z-index: 50;
}

#coordinatesContainer{
    position:absolute; 
    left:25px; 
    bottom:0px; 
    color:#000; 
    z-index:50;
    background-color: #eeeeee;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 5px 1px 5px #888888;
}

#coordinates {
    margin: 5px;
    font-size: 12px;
}

#legendDiv  { 
    position: absolute;
    left:90px;
    top:117px;
    z-index: 53;    width:65px;
    font-size: 11px;
    color: #eeeeee;
    background-color: #3a3a3a;
    opacity: 0.9;
    border: 1px solid #888888;
    box-shadow: 1px 1px 5px #888888;
}

#legendButton {}

#specimen ul {
    margin-left: 0px;
    padding: 0px;
}


/* ------ overriding tundra and esri css ------ */

.esriLegendServiceLabel{ margin-left: 5px; margin-top: 10px; padding-top: 10px; }

/* info pane and content styling */
.esriPopup.myTheme .titlePane,
      .dj_ie7 .esriPopup.myTheme .titlePane .title {
        background-color: #424242;
        color: #eeeeee;
        font-weight: bold;
       }
.esriPopup.myTheme .titlePane {
        border-bottom: 1px solid #121310;
        border: none;
        border-radius: 1px;
        opacity: 0.9;
      }
.esriPopup.myTheme a {
        color: #0098bf;
        text-decoration: none;
      }
.esriPopup.myTheme .pointer,
.esriPopup.myTheme .outerPointer{
          background-image: url(./images/popup.png);
      }
.esriPopup.myTheme .contentPane,
.esriPopup.myTheme .actionsPane {
        border-color: 1px solid #121310;
        background-color: #424242;
        color:#ffffff;
        border-radius: 1px;
        opacity: 0.9;
     }

/* overview panel */
.esriOverviewMap.ovwBL .ovwContainer {
    border: 1px solid #000000;
    bottom: 60px;
    padding-bottom: 2px;
    padding-left: 2px;
    width:265px !important;
    margin-left:25px;
}

/*legend*/
.dojoxGridRow, .dojoxGridMasterView, .templatePicker .grid .dojoxGridRowOdd{
    background-color: #3a3a3a;
}

.dojoxGrid .dojoxGridCell, .templatePicker .grid .dojoxGridRow {
    border: 1px solid #3a3a3a !important;
}

/* zoom */
.dijitSliderIncrementIconV  { background: url(img/zoomPlusW.png) no-repeat 0 0 !important; width:20px !important; height: 20px !important; margin-bottom: 3px; margin-left: 2px;}
.dijitSliderDecrementIconV  { background: url(img/zoomMinusW.png) no-repeat 0 0 !important; width:20px !important; height: 20px !important; margin-top: 3px; margin-left: 1px;}
.dijitSliderImageHandleV    {  background-size: 15px 8px !important; }
/* basemap gallery */
#dijit_TitlePane_0_titleBarNode                                 { width: 20px; height: 20px; background-color: #3a3a3a;}
.dijitTitlePaneContentOuter                                     { width: 0px; height: 0px; border:none; background-color: red}
.dijitTitlePaneContentInner                                     { background-color: #3a3a3a; opacity: 0.9; font-size: 12px; color: #eeeeee; margin-top: 70px; 
                                                                  position: absolute; top:3px; right:-90px; border: 1px solid #888888; box-shadow: 1px 1px 5px #888888; }
.dijitInline, .dijitTitlePaneTextNode                           { float: right; color: #3a3a3a !important;}
.esriBasemapGalleryThumbnail                                    { border: none;}
.esriBasemapGallerySelectedNode .esriBasemapGalleryThumbnail    { border: 1px solid #eeeeee;}
.dijitTitlePane .dijitArrowNode, .tundra .dijitFieldset .dijitArrowNode {background-image: none !important}

/* buttons in header*/
.home   {background-color: #3a3a3a !important;}
.zoomLocateButton {background-color: #3a3a3a !important;}

/* ---------------- end overriding -------------- */
